* {
    padding: 0;
    margin: 0;
    font: black;
}

/* text styles */

h1 {
    font-family: playfair-display, serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2em;
    padding-top: 1em;
}

h2  {
    font-family: playfair-display, serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.5em;
    padding-top: 1em;
}

h3 {
    font-family: playfair-display, serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.15em;
    padding-top: 1em;
    border-bottom: .3em solid rgb(164, 127, 85);
}

p {
    font-family: roboto, sans-serif;
    font-size: .8em;
    font-weight: 400;
    font-style: normal;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}

/* index CSS */

body{
    font-size: calc(1.5em + 0.390625vw);
    display: flex;
    flex-direction: column;
}


header {
    background: rgb(71, 102, 71);
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    padding: 1.25em 1.25em 0.25em 1.25em;
    background: whitesmoke;
    min-height:3em;
    max-height: 3.5em;
    border-bottom: 0.1em solid darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-logo{
    font-family: playfair-display, serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.5em;
    color: black;
    padding-top: 0;
}


.hamburger-menu{
    width: 5%;
    height: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bar1, .bar2, .bar3{
    height: .2em;
    background: black;
}

.bar3 {
    width: 60%;
}

.hero-container{
    padding: 2em 1em 0em 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
}

.hero-text-container{
    display: flex;
    flex-direction: column;
    flex: .36;
}

#hero-text{
    font-family: playfair-display, serif;
    font-weight: 900;
    font-size: 3.5em;
    font-style: normal;
    color: white;
}

#hero-tagline{
    font-family: playfair-display, serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2em;
    color: white;
    padding-top: 1em;
}

.hero-scroll{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#hero-scrolltext {
    font-family: roboto, sans-serif;
    font-size: .75em;
    font-weight: 400;
    font-style: normal;
    color: white;
}

#hero-down-arrow{
    font-family: roboto, sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    font-style: normal;
    color: white;
}

.header-container{
    color: white;
    padding: 0em 1em 1.5em 1em;
}

main {
    border: 0px solid violet;
}

.main-container {
    padding-left: 1em;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.main-label {
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    flex: .30;
}

#main-services,
#main-booking{
    background: rgb(247, 247, 247);
}

#main-about,
#main-therapists {
    color: White;
    background: rgb(164, 127, 85);
}

#main-expectations,
#main-faqs {
    color: White;
    background: rgb(71, 102, 71);
}

#main-blog {
    background: rgb(247, 247, 247);
}


.main-button {
    font-family: roboto, sans-serif;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    background: rgb(255, 208, 0);
    margin: 1.5em 0em;
    padding: 0.5em 1em;
    max-width: 15em;
    border: 1px solid rgb(32, 51, 32);
    border-radius: 2em;
    align-self: center;
}

/* our-therapist CSS */

.header-page-content {
    min-height: 0em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.therapist-card{
    background: whitesmoke;
    margin: .1em;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    border: .2em solid rgb(71, 102, 71);
}

.therapist-label{
    padding: 0em 1.5em;
}

.therapist-photo {
    align-self: center;
    height: auto;
    flex: 1;
}

.therapist-stats{
    padding-top: 1.5em;
}

.therapist-name{
    padding-top: 0;
}

.therapist-description{
    padding: 0 2em;
}

#therapist-education{
    margin-top: 2em;
}

footer {
    font-family: roboto, sans-serif;
    font-size: .75em;
    font-weight: 400;
    font-style: normal;
    padding: 0.5em;
    display: flex;
    justify-content: flex-end;
    border-top: 0.1em solid darkgray;
}

/* general individual-page css */

.content-container {
    padding-top: 6em;
    padding-left: 1em;
    min-height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: .2em solid rgb(72, 102, 72);
}

.content-description {
    padding: 1.5em 2em;

}


/* custom-func css */

.inactive {
    background-color: lightgray;
}